h1{
    text-align: center;
    color: #00807f;
}
.main{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 60vh;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(90px, auto);
    grid-template-areas: "c1 c1 c1 c1"
                         "c2 c3 c4 c5"
                         "c6 c7 c8 c9"
                         "c10 c11 c12 c13"
                         "c14 c15 c16 c17"
                         "c18 c19 c20 c20";
    gap: 1px;
    margin: auto;
    padding: 30px;
}
.main>div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    margin: 10px;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.main>div:nth-of-type(1){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    grid-area: c1;
    border-radius:10px;
}
.main>div:nth-of-type(2){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c2;
}
.main>div:nth-of-type(3){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c3;
}
.main>div:nth-of-type(4){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c4;
}
.main>div:nth-of-type(5){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    background-color: black;
    border-radius: 10px;
    grid-area: c5;
    color: white;
}
.main>div:nth-of-type(6){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c6;
}
.main>div:nth-of-type(7){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c7;
}
.main>div:nth-of-type(8){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c8;
}
.main>div:nth-of-type(9){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    background-color: black;
    border-radius: 10px;
    grid-area: c9;
    color: white;
}
.main>div:nth-of-type(10){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c10;
}
.main>div:nth-of-type(11){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c11;
}
.main>div:nth-of-type(12){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c12;
}
.main>div:nth-of-type(13){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    background-color: black;
    border-radius: 10px;
    grid-area: c13;
    color: white;
}
.main>div:nth-of-type(14){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    background-color: orangered;
    grid-area: c14;
}
.main>div:nth-of-type(15){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    border-radius: 10px;
    grid-area: c15;
}

.main>div:nth-of-type(16){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    background-color: black;
    border-radius: 10px;
    grid-area: c16;
    color: white;
}
.main>div:nth-of-type(17){
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    background-color: black;
    border-radius: 10px;
    grid-area: c17;
    color: white;
}